In [1]:
import math
from numpy import log as ln
import pandas as pd

In [9]:
## CÁI NÀY CHẠY 1 LẦN THÔI
! pip install utm

Collecting utm
  Downloading utm-0.7.0.tar.gz (8.7 kB)
Building wheels for collected packages: utm
  Building wheel for utm (setup.py): started
  Building wheel for utm (setup.py): finished with status 'done'
  Created wheel for utm: filename=utm-0.7.0-py3-none-any.whl size=6108 sha256=6e60150f8b6505b83716d8c9486ebff4bfc2c48592149c233f066e2d74ab6b7b
  Stored in directory: c:\users\hoang bao\appdata\local\pip\cache\wheels\ab\8c\43\723355279387088dd6696089e77f9ddd242ba94e71a87c800f
Successfully built utm
Installing collected packages: utm
Successfully installed utm-0.7.0

In [2]:
mapWidth = 200
mapHeight = 100

In [3]:
def convertX(latitude, longitude):
    x = (longitude + 180) * (mapWidth /360)
    return x

def convertY(latitude, longitude):
    latRad = (latitude * math.pi) / 180
    mercN = ln(math.tan((math.pi/4) + (latRad /2)))
    y = (mapHeight/2) - (mapWidth * mercN/(2*math.pi))

    return y

In [5]:
data = pd.read_excel ('./Data-Ministop.xlsx', engine='openpyxl') 
df = pd.DataFrame(data, columns= ['Latitude','Longitude','x','y'])
df = df.reset_index()

In [6]:
df

     index   Latitude   Longitude   x   y
0        0  10.880235  106.748482 NaN NaN
1        1  10.843638  106.771634 NaN NaN
2        2  10.866119  106.802920 NaN NaN
3        3  10.803579  106.747573 NaN NaN
4        4  10.797815  106.742846 NaN NaN
..     ...        ...         ...  ..  ..
109    109  10.761753  106.648353 NaN NaN
110    110  10.767659  106.648996 NaN NaN
111    111  10.759942  106.655143 NaN NaN
112    112  10.758846  106.641508 NaN NaN
113    113  10.800061  106.715614 NaN NaN

[114 rows x 5 columns]

In [8]:
for i in range(len(df)) :
  df.loc[i, "x"] = convertX(df.loc[i, "Latitude"], df.loc[i, "Longitude"])
  df.loc[i, "y"] = convertY(df.loc[i, "Latitude"], df.loc[i, "Longitude"])

writer = pd.ExcelWriter('./Data-Ministop_new.xlsx')

df.to_excel(writer, sheet_name='Sheet1')

writer.save()